@using Webdiyer.WebControls.Mvc;
@model PagedList<ProjectA.Models.Order>

@{
    ViewBag.Title = "OrdersList";
}


<div class="container-fluid" id="dvOrders">

    <div class="row-fluid">
    

        <div class="span6">
              @using (Html.BeginForm("OrderSearchResult", "AdminOrders", FormMethod.Get))
                {
                    <input class="input-medium search-query" type="text" style="margin-top:10px;float:left;margin-bottom:10px;width:250px;" name="OrderSearch"/>
                    <button class="btn" type="submit" style="margin-top:10px; margin-left:10px; margin-bottom:10px;float:left">Search</button>
                }
        </div>
        <div class="span6">

        </div>

    </div>

    <div class="row-fluid">
        <div class="span12">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>Total Price</th>
                        <th>Order Date</th>
                        <th>Order Status</th>

                    </tr>
                </thead>
                <tbody>
                @foreach(var orders in Model)
                {
                   <tr>
                       <td>
                           <a class="btn-link" href="@Url.Action("Detail", "AdminOrders", new { orderId=orders.OrderId })">@orders.OrderId</a>
                       </td>
                       <td>@orders.userId</td>
                       <td>@orders.userName</td>
                       <td>@orders.totalPrice</td>
                       <td>@orders.OrderDate</td>

                        @if(orders.OrderStatus.Equals("Pending"))
                        {
                            <td style="color:red;">
                                @orders.OrderStatus
                            </td>
                        }
                        else
                        {
                            <td style="color:green;">
                                @orders.OrderStatus
                            </td>
                        }    
                       
                   </tr> 
                    
                }
                   
                </tbody>
            </table>
        </div>
    </div>

    <div id="itemPage" class="pagination" style="margin-left: 50px; float: left;">
        @Html.AjaxPager(Model, new PagerOptions()
       {
           PageIndexParameterName = "id",
           ContainerTagName = "ul",
           PagerItemWrapperFormatString = "<li>{0}</li>",
           CurrentPagerItemWrapperFormatString = "<li><a>{0}</a></li>",
           NumericPagerItemWrapperFormatString = "<li>{0}</li>",
           PrevPageText = "Prev",
           NextPageText = "Next",
           ShowDisabledPagerItems = false,
           AlwaysShowFirstLastPageNumber = true
       }, new AjaxOptions { UpdateTargetId = "dvOrders" })
    </div>



</div>
