@using Webdiyer.WebControls.Mvc;
@model PagedList<ProjectA.Models.ProductDB>
@{
    ViewBag.Title = "ProductsAdminList";
}

<div class="container-fluid" id="dvProducts">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span6">
                 @using (Html.BeginForm("ProductSearchResult", "AdminProduct", FormMethod.Get))
                { 
                    <input class="input-medium search-query" type="text" name="productSearch" type="text" style="margin-top:10px;float:left;margin-bottom:10px;width:250px;"/>
                    <button class="btn" type="submit" type="submit" style="margin-top:10px; margin-left:10px; margin-bottom:10px;float:left">Search</button>
                }
                </div>

                <div class="span3">
                    <a class ="btn btn-large btn-success" href="@Url.Action("AddNewProduct", "AdminProduct")" style="display:inline-block;">Add</a>
                </div>

                <div class="span3" style="float:right;" id="deleteButton" >
                    
                </div>
                
            </div>

            <form id="productList" action="@Url.Action("DeleteProduct","AdminProduct")" method="post">

                <div class="row-fluid" style="margin-top: 25px;">
                    <div class="span12">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Product ID</th>
                                    <th>Product Name</th>
                                    <th>Unit Price</th>
                                    <th>Stock</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align: center;">@Html.CheckBox("products["+(i++)+"]", new { id = item.productId,value=item.productId, @class = "ProductcheckBox" })</td>
                                            <td>@item.productId</td>
                                            <td>
                                                <a href="@Url.Action("Detail", "AdminProduct", new { productId = item.productId })">@item.productName</a>
                                            </td>
                                            <td>@item.productPrice</td>
                                            <td>@item.stockNumber</td>
                                            
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div id="modal-container" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Attention
                        </h3>
                    </div>
                    <div class="modal-body">
                        <p>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                        <input class="btn btn-primary" type="submit" value="Yes" />
                    </div>
                </div>
            </form>


        </div>

        <div id="itemPage" class="pagination" style="margin-left: 50px; float: left;">
            @Html.AjaxPager(Model, new PagerOptions()
           {
               PageIndexParameterName = "id",
               ContainerTagName = "ul",
               PagerItemWrapperFormatString = "<li>{0}</li>",
               CurrentPagerItemWrapperFormatString = "<li><a>{0}</a></li>",
               NumericPagerItemWrapperFormatString = "<li>{0}</li>",
               PrevPageText = "Prev",
               NextPageText = "Next",
               ShowDisabledPagerItems = false,
               AlwaysShowFirstLastPageNumber = true
           }, new AjaxOptions { UpdateTargetId = "dvProducts" })
        </div>

    </div>




    


</div>
    